<h2>Questions for your cities</h2>
<%= render "components/questions_cards", questions: @answer_questions %>

<h2>My questions</h2>
<% @user_questions.each do |question| %>
  <p><%= question.title %></p>
<% end %>
