<div class="form-container">
<h1>Asking for help?</h1>
<p>Somebody could give you the best advice to solve an issue. Be concise and clear. Please be respectful and don't include any advertisements or spam.</p>
<%= render 'form' %>
</div>
