<% @categories.each do |category| %>
<div class="card-home-section">
  <div class="category-card m-2">
    <div>
      <%= image_tag category.image %><br>
      <%= category.name %>
    </div>
  </div>
</div>
<% end %>
