<% questions.each do |question| %>
  <div class="card-tip m-3 p-2">
    <div class="top-card">
      <p class="my-question-title"><%= question.title %></p>
      <p class="other-city-name"><%= question.city %></p>
    </div>
    <div class="bottom-card d-flex justify-content-between">
      <p class="time-created"><%= time_ago_in_words(question.created_at)%> ago</p>
      <%= link_to 'See Tips', question_path(question), class: "answer-button question-actions see-tips-btn" %>
    </div>
  </div>
<% end %>


