// Specific CSS for your home-page

@media screen and (max-width: 1200px) {
  .search-container{
    display: block;
    justify-content: center;
    align-items: center;
  }
  .container-landing-one {
    background-image: asset-url("shopping_woman.png");
    height: 320px;
    background-size: cover;
  }
  .container-landing-two {
    background-image: asset-url("video_park.png");
    height: 320px;
    background-size: cover;
  }
  .container-landing-three {
    background-image: asset-url("cat_shot.png");
    height: 320px;
    background-size: cover;
  }
  .home-title{
    margin-top: 20px;
  }
  .home-instructions {
    color: $purple;
    opacity: 0.7;
    margin-top: 36px;
    width: 80vw;
    margin-left: auto;
    margin-right: auto;
  }
  .category-card-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .fa-chevron-right{
    display: none;
  }
  .tag-line {
    justify-content: center;
  }
  .home-title {
    color: $preto;
  }
  .panel-principal{
    display: block;
  }
  .category-large {
    display: none;
  }
  .home-help {
    display: none;
  }
}



@media screen and (min-device-width: 1200px)  {
  #carouselExampleSlidesOnly {
    display: none;
  }
  .search-container{
    align-items: center;
    height: 460px;
    background: linear-gradient(179.98deg, $purple 0.06%, #67008A 99.95%);
  }
  .fa-chevron-down {
    display: none;
  }
  .fa-chevron-right {
    font-size: 46px;
    color: white;

  }
  .tag-line {
    justify-content: left;
    margin-bottom: 0px;
    margin-left: 24px;

  }
  .home-title {
    color: white;
    font-size: 56px;
    text-align: left;

    margin: 36px auto 86px 21px;
  }
  .home-instructions {
    color: white;
    opacity: 0.8;
    margin-bottom: 0px;
  }
  .hidden-before-city {
    width: 50%;
  }
  .places-search {
    width: 430px;
  }
  .home-form {
    padding: 0px;
    margin: 0px;
  }
  .panel-principal{
    display: flex;
  }
  .keyword-categories-panel {
    display: block;
  }

  .category-card-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .category-small {
    display: none;
  }
  .home-help {
    display: flex;
    justify-content: space-around;
  }
}

.center-text{
  text-align: center;
  color: $preto;
}
.hidden-before-city{
  display: none;
}
.tag-line {
  margin-bottom: 24px;
  font-size: 26px;
}
.home-image {
  height: 340px;
  img {
    position: relative;
    width: 222px;
    height: 222px;
    left: 37px;
    z-index: -2;
    top: 22px;
  }

}
.ap-dataset-places {
  text-align: left;
}

.card-home-section .category-card-text {
  color: #0000008a;
}
  .search-btn {
    width: 100%;
    border-radius: 4px;
    background: #a81fd5;
    padding: 9px;
    color: white;
    border: 0;
  }
.intro {
  display: flex;
  justify-content: center;
}
#home-form {
  padding: 21px 20px;
  .ap-input-icon svg {
    top: 35%;
  }
  input {
    font-size: 23px;
  }
}
.intro-text {
  margin-top: 5px;
  margin-left: 0px;
  width: 72vw;
  justify-text: center;
}
.category-text{
  margin-bottom: 12px;
  margin-top: 20px;
  font-size: 26px;
}
