.index-tips {
  justify-content: center;
}
.category-filter{
  overflow: scroll;
}
.search-index {
  justify-content: center;
  margin-top: 20px;

}
.input-search {
  height: 40px;
  border-radius: 4px 0px 0px 4px;
}

.index-search-btn {
  background: linear-gradient(180deg, #CB3DFB 0%, #8100AC 100%);
  border-radius: 0px 4px 4px 0px;
  border-width: 0px;
  height: 40px;
  width: 40px;
  color: white;
}
.category-filter {

}
