.alert {
  position: fixed;
  top: 79px;
  right: 14px;
  z-index: 1000;
}
.alert-info {
  color: $purple;
  background-color: white;
  border-color: $purple;
}
.alert-dark {
  color: $purple;
  background-color: white;
  border-color: $purple;
}
