/* Button */
.main-button {
  width: 263px;
  height: 72px;
  left: 56px;
  top: 877px;
  border-radius: 20px;
  color: white;
  background-color: transparent;
  border: 2px solid $purple;
}

.main-button-form {
  width: 100%;
  height: 72px;
  color: white;
  background-color: $purple;
  position: fixed;
  left: 0;
  bottom: 0;
}

.main-button-form:hover {
  color: $preto;
  background-color: white;
}

.purple-button {
  width: 262px;
  height: 68px;
  left: 59px;
  top: 367px;
  border-radius: 20px;
  background-color: $purple;
  color: white;
}

.search-btn {
  color: $purple;
  border: 2px solid $purple;
  background-color: transparent;
  border-radius: 10px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  width: 50vw;
}

.white-button {
  width: 40%;
  margin-left: 30%;
  margin-right: 30%;
  border-radius: 20px;
  color: white;
  background-color: transparent;
  border: 2px solid white;
}

.sign-up-button {
  border-radius: 20px;
  color: white;
  background-color: transparent;
  border: 2px solid white;
  padding: 6px;
  padding-left: 12px;
  padding-right: 12px;
  width: 40%;
  text-align: center;
  text-decoration: none;
}

.sign-up-button:hover {
  color: $purple;
  background-color: white;
  text-decoration: none;
}

.answer-button {
border-radius: 20px;
padding: 4px 25px;
background: $purple;
text-decoration: none;
color: white;

}
