/* Button */
.main-button {
position: relative;
width: 263px;
height: 72px;
left: 56px;
top: 877px;
border-radius: 20px;
color: white;
background-color: transparent;
border: 2px solid $purple;
}
.main-button-form {
width: 100%;
height: 72px;
color: white;
background-color: $preto;
position: fixed;
left: 0;
bottom: 0;
}

.main-button-form:hover {
  color: $purple;
  background-color: white;
}

.purple-button {
width: 262px;
height: 68px;
left: 59px;
top: 367px;
border-radius: 20px;
background-color: $purple;
color: white;
}

