
.category-card{
  background-image: linear-gradient(to left, $purple, #7f0ea6);
  color: white;
  border-radius: 10px;
  min-height: 134px;
  justify-content: center;
  align-items: center;
  padding: 13px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  display: flex;
  justify-content: center;
  align-items: center;
}

.category-card img{
  width: 50px;
  margin-bottom: 12px;
}

.category-card-text{
  flex-grow: 1;
  color: white;
}

.see-more {
  color: #b92fe8;
  font-size: 46px;
  margin-top: 13px;
}
