.form {
  padding: 30px 50px;
}

.form-container {
  background-image: linear-gradient(#CB3DFB, #67008A);
  min-height: 100vh;
  p {
    max-width: 330px;
    color: #ffffffb3;
    margin: AUTO;
    text-align: center;
  }
}

.form-container h1, h2 {
  color: white;
  text-align: center;
  padding-top: 50px;

}

#tip_content {
  width: 100%;
  min-height: 140px;
  padding: 0.375rem 0.75rem;
  margin-bottom: 10px;
}

.new_tip {
  .form-control {
     background-color: #fff;
      background-clip: padding-box;
      border-radius: 5px !important;
      border: none !important;
  }
}

.new_user_city {
  .form-control {
     background-color: #fff;
      background-clip: padding-box;
      border-radius: 5px !important;
      border: none !important;
  }
}

.input-form-create {
  background-color: #fff;
  background-clip: padding-box;
  border-radius: 5px !important;
  border: none !important;
}

.new_question {
  .form-control {
     background-color: #fff;
      background-clip: padding-box;
      border-radius: 5px !important;
      border: none !important;
  }
}

.form-devise-sing-in {
  .form-control {
     background-color: #fff;
      background-clip: padding-box;
      border-radius: 5px !important;
      border: none !important;
  }
}

.question_city {
  position: relative;
}

#results {
  position: absolute;
    top: 34px;
    left: 0;
  max-height: 180px;
  width: 100%;
  overflow: scroll;
  background: white;
  list-style-type: none;
  border-color: gray;
  }

.form-inputs {
  .optional {
     color: white !important;
  }
}

.forgot-password {
  color: white;
  text-decoration: none;
  font-size: 12px;
}

.forgot-password:hover {
  color: $preto;
  text-decoration: none;
}

.sign-up-text {
  color: white;
  padding: 6px;
  width: 40%;
  text-decoration: none;
}

.sign-up-text:hover {
  color: $preto;
  text-decoration: none;
}
