.podcast-dude {
  width: 70vw;
  position: relative;
  top: 20px;
  margin-bottom: 70px;
}

@media screen and (min-device-width: 1200px) {
  .podcast-dude {
      width: 70vw;
      position: relative;
      top: -18px;
      margin-bottom: -24px;
      z-index: -1000000;
  }
}
.doggy-dude{
  width: 70vw;
  margin-top: 10px;
  position: relative;
  top: -1px;
  left: -100px;
  margin-bottom: 19px;
}
@media screen and (min-device-width: 1200px) {
  .doggy-dude {
    width: 70vw;
    position: relative;
    top: -540px;
    z-index: -1000000;
    left: -210px;
  }
}

.selfie-gal {
  width: 35vw;
  position: relative;
  bottom: 18px;
  left: 50vw;
}
// .illustration-anchor{

// }
