.podcast-dude {
  width: 70vw;
  position: relative;
  top: 20px;
  margin-bottom: 70px;

}

.doggy-dude{
  width: 70vw;
  margin-top: 10px;
  position: relative;
  top: -1px;
  left: -100px;
  margin-bottom: 19px;

}

.selfie-gal {
  width: 35vw;
  position: relative;
  bottom: 18px;
  left: 50vw;
}
.illustration-anchor{

}
