.navbar {
  color: white;
  justify-content: space-between;
  background: $preto;
  position: sticky;
  top: 0px;
  z-index: 1;
}

.navbar-home {
  color: $preto;
  justify-content: space-between;
  background: white;
  position: sticky;
  top: 0px;
}

.user_navbar {
  background: linear-gradient(140deg, #CB3DFB 0%, #a61bd9 100%);
  color: white;
  font-weight: bold;
  border: none;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.navbar-nit .navbar-collapse {
  flex-grow: 0;
}

.navbar-brand img {
  width: 172px;
}

.navbar-icon {
  p {
    color: white;
    font-size: 18px;
    margin: 0;
  }
}

.link-text {
  text-decoration: none;
  color: $purple;
}

.dropdown-item {
    color: white;
    font-size: 32px;
    text-align: right;
}

.dropdown {
  list-style: none;
  color: $purple;
   i {
    position: fixed;
    right: 31px;
    font-size: 24px;
    display: none;
    top: 39px;
  }
}

.dropdown.show {
  button {
      display: none;
  }
  i {
    display: block;
  }
}

.dropdown-menu {
    top: 94px;
    height: 100vh;
    margin: 0;
    left: auto;
    width: 100%;
    position: fixed;
    border: none;
    background: linear-gradient(270deg, white 0%, #ffffffd6 100%);
    a {
      color: $preto !important;
    }
}

.dropdown-toggle::after {
  content: none;
}


.hamburger-container {
  display: inline-block;
}

.bar1.change {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
  transform: rotate(-45deg) translate(-9px, 6px) ;

}

/* Fade out the second bar */
.bar2.change {
  opacity: 0;
}

/* Rotate last bar */
.change.bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
  transform: rotate(45deg) translate(-8px, -8px) ;
}


.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: $purple;
  margin: 6px 0;
  transition: 0.4s;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border-radius: 5px;
}

#questions-navbar {
  position: relative;
}
#notification-questions {
  font-size: 21px;
  color: #CA3CFF;
  top: 219px;
  top: 233px;
  border-radius: 52%;
  right: 176px;
  z-index: 2;
  padding-right: 3px;
}

