.navbar {
  color: white;
  justify-content: space-between;
  background: $preto;
}
.user_navbar {
  color: white;
  font-weight: bold;
  border: none;
  background: linear-gradient(180deg, #CB3DFB 0%, #8100AC 100%);
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.navbar-nit .navbar-collapse {
  flex-grow: 0;
}

.navbar-brand img {
  width: 172px;
}

.navbar-icon {
  p {
    color: white;
    font-size: 18px;
    margin: 0;
  }
}

.dropdown-item {
    color: white;
    font-size: 32px;
    text-align: right;
}
.dropdown {
  list-style: none;
  color: white;
   i {
    position: fixed;
    right: 31px;
    font-size: 24px;
    display: none;
    top: 39px;
  }
}

.dropdown.show {
  button {
      display: none;
  }
  i {
    display: block;
  }
}

.dropdown-menu {
    right: 0;
    top: 94px;
    height: 100vh;
    margin: 0;
    left: auto;
    width: 100%;
    position: fixed;
    background: linear-gradient(180deg, $preto, transparent);
    a {
      color: white !important;
    }
}

.dropdown-toggle::after {
  content: none;
}
