.card-tip {
  border-bottom: 1px solid $purple;
}
.hidden {
  margin-bottom: 0px;
}
.votes {
  justify-content: flex-end;
}
.votes-up {
  border: 1px solid $purple;
  border-radius: 17px  0px  0px 17px;
  width: 55px;
  height: 26px;
  padding: 0px 10px;
}
.votes-down {
  border: 1px solid $purple;
  border-radius: 0px 17px 17px 0px ;
  width: 55px;
  height: 26px;
  padding: 0px 10px;
}
.city-name {
  color: $purple;
  opacity: 0.6;
  margin-bottom: 0px;
  margin-top: 12px;
}
p {
  color: $preto;
}
.tip-index {
  color: $preto60;
  font-size: 24px;
  font-weight: bold;
}
.tip-title {
  font-size: 24px;
  font-weight: bold;
}
.bottom-card p {
  opacity: $preto60;
}
.selected {
  background-color: $purple;
  color: white;
}
.disabled {
  opacity: 0.6;
}
a .report {
  color: $preto;
}
a .report:hover {
  color: $purple;
}
