.card-tip {
  border-bottom: 1px solid $purple;
}
.votes {
  border: 1px solid $purple;
  border-radius: 17px;
  width: 110px;
  height: 26px;
  padding: 0px 10px;
}
p {
  color: $preto;
}
.bottom-card p {
  opacity: 0.6;
}


#testing {
  padding: 0;
}
