.card-tip {
  border-bottom: 1px solid $purple;
}
.hidden {
  margin-bottom: 0px;
}
.votes-up {
  border: 1px solid $purple;
  border-radius: 17px  0px  0px 17px;
  width: 55px;
  height: 26px;
  padding: 0px 10px;
}
.votes-down {
  border: 1px solid $purple;
  border-radius: 0px 17px 17px 0px ;
  width: 55px;
  height: 26px;
  padding: 0px 10px;
}
p {
  color: $preto;
}
.bottom-card p {
  opacity: 0.6;
}
.selected {
  background-color: $purple;
  color: white;
}
.disabled {
  opacity: 0.6;
}
a .report {
  color: $preto;

}
a .report:hover {
  color: $purple;
}
