.nav{
  flex-wrap: nowrap;
  overflow: scroll;
  border-bottom: 1px solid $purple;
  margin-top: 18px;
  margin-bottom: 12px;
  display: -webkit-box;
  position: relative;
}
.nav-tabs .nav-link.active {
  border: 0;
  border-bottom: 3px solid;
  border-color: $purple;
  font-weight: bold;
  color: $purple;
}
.nav-item a {
  color: $preto60;
  font-weight: bold;
}
.nav-tabs .nav-link {
  flex-wrap: nowrap;
  font-size: 20px;
  font-weight: 400;
}
.scroll {
  margin-left: 6px;
  margin-right: 6px;
  display: flex;
  justify-content: space-between;
  i {
    font-size: 20px;
  }
}
.scroll-right {
  color: transparent;
  position: absolute;
  top: 248px;
  right: 0;
  padding: 7px 20px;
  background: linear-gradient(-89deg, #ffffff, #ffffff5e);
}
.scroll-left {
  color: transparent;
  position: absolute;
  top: 248px;
  left: 0px;
  &.arrow-active {
   padding: 7px 20px;
   background: linear-gradient(90deg, #ffffff, #ffffff5e);
  }
}
.arrow-active {
  color: $preto;
  opacity: 1;
  font-size: 18px;
}
