// footer.scss

html,body { height: 100%;  margin: 0; }

body {
  display: table;
  width: 100vw;
}

footer {
  margin: 0px;
  width: 100vw;
  padding-top: 12px;
  display: table-row;
  height: 60px;
  background-image: linear-gradient( $purple, #7f0ea6);
  align-items: center;
  p {
    color: white;
  }
}
