// footer.scss

html,body { height: 100%;  margin: 0; }

body {
  display: table;
}

footer {
  margin: 0px;
  padding-top: 10px;
  display: table-row;
  height: 40px;
  background-image: linear-gradient( $purple, #7f0ea6);
  align-items: center;
  p {
    color: white;
  }
}
