<div class="form-container">
  <h1>Give a tip</h1>
    <p>Help somebody else solve an issue.</p>
    <p>Please be respectful and don't include any advertisements or spam</p>
      <%= render 'form' %>
</div>
